.validationMessage{
	color: red;
}
.editar {
	color: cornflowerblue;
}

.remover {
	color: red;
}

.errorborder {
    outline: none;
    border: 2px solid red;
}

.errorborder:focus {
    outline: none;
    border: 2px solid red;
    border-color: red;
    box-shadow: 0 0 3px red;
}

.span-caracters{
    font-size: 12px;
    font-family: monospace;
    color: chocolate;
    padding: 3px;
}

.span-tooltip-info,
.span-tooltip-info i {
    color: cornflowerblue;
}

.comment{
    height: 150px !important;
    resize: none;
}

.fieldset {
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    /* width: calc(28.4em + 0.75rem + 2px); */
}

.fieldset h7 {
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1;
    margin: -10px 0 0;
    /* half of font-size */
    background: #fff;
    padding: 0 3px;
}

.company{
    color: black;
    font-weight: bold;
}

.title-razao{
    color: darkgray;
    font-style: italic;
}

.status-ativo {
    background: green;
    color: white;
    font-weight: bold;
}

.status-inativo {
    background: red;
    color: white;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

form{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/* TESTE CHRIS*/
.mydiv {
    margin-top: 50px;
    margin-bottom: 50px
}

.cross {
    font-size: 10px
}

.padding-0 {
    padding-right: 5px;
    padding-left: 5px
}

.img-style {
    margin-left: -11px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 104% !important
}

.m-t-20 {
    margin-top: 20px
}

.bbb_background {
    background-color: #E0E0E0 !important
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute
}

.ribbon span {
    position: absolute;
    display: block;
    /* width: 34px; */
    /* border-radius: 50%; */
    padding: 8px 0;
    /* background-color: #3498db; */
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, .1); */
    /* color: #fff; */
    color: #000;
    font: 100 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.available {
    width: 34px;
    border-radius: 50%;
    background-color: #16c60c;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.warning {
    color: rgb(238, 184, 46);
    font-size: 30px;
    font-weight: 700;
}

.ribbon-top-right {
    top: -10px;
    right: -10px
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent
}

.ribbon-top-right::before {
    top: 0;
    left: 17px
}

.ribbon-top-right::after {
    bottom: 17px;
    right: 0
}

.sold_stars i {
    color: orange
}

.ribbon-top-right span {
    right: 17px;
    top: 17px
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bbb_deals_featured {
    width: 100%
}

.bbb_deals {
    width: 100%;
    margin-right: 7%;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 0px
}

.bbb_deals:hover {
    /* -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5)); */
    border: 10px solid #136497;
    /* border-radius: 50%; */
}

.bbb_deals_title {
    position: absolute;
    top: 10px;
    left: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #000000
}

.bbb_deals_slider_container {
    width: 100%
}

.bbb_deals_item {
    width: 100% !important
}

.bbb_deals_image {
    width: 100%
}

.bbb_deals_image img {
    width: 100%
}

.bbb_deals_content {
    margin-top: 33px
}

.bbb_deals_item_category a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.bbb_deals_item_price_a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6)
}

.bbb_deals_item_price_a strike {
    color: red
}

.bbb_deals_item_name {
    font-size: 24px;
    font-weight: 400;
    color: #000000
}

.bbb_deals_item_price {
    font-size: 24px;
    font-weight: 500;
    color: #6d6e73
}

.available {
    margin-top: 19px
}

.available_title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400
}

.available_title span {
    font-weight: 700
}

@media only screen and (max-width: 991px) {
    .bbb_deals {
        width: 100%;
        margin-right: 0px
    }
}

@media only screen and (max-width: 575px) {
    .bbb_deals {
        padding-left: 15px;
        padding-right: 15px
    }

    .bbb_deals_title {
        left: 15px;
        font-size: 16px
    }

    .bbb_deals_slider_nav_container {
        right: 5px
    }

    .bbb_deals_item_name,
    .bbb_deals_item_price {
        font-size: 20px
    }
}

.theme-bg-white {
    background-color: #fff !important;
}

.ui-w-100 {
    width: 100px !important;
    height: auto;
}

.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.row-bordered>.col::before,
.row-bordered>[class^="col-"]::before,
.row-bordered>[class*=" col-"]::before,
.row-bordered>[class^="col "]::before,
.row-bordered>[class*=" col "]::before,
.row-bordered>[class$=" col"]::before,
.row-bordered>[class="col"]::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    display: block;
    height: 0;
    border-top: 1px solid rgba(24, 28, 33, 0.06);
}

.row-bordered>.col::after,
.row-bordered>[class^="col-"]::after,
.row-bordered>[class*=" col-"]::after,
.row-bordered>[class^="col "]::after,
.row-bordered>[class*=" col "]::after,
.row-bordered>[class$=" col"]::after,
.row-bordered>[class="col"]::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    display: block;
    width: 0;
    border-left: 1px solid rgba(24, 28, 33, 0.06);
}

.ui-bg-cover {
    background-color: rgba(0, 0, 0, 0);
    background-position: center center;
    background-size: cover;
}

.ui-square {
    padding-top: 100% !important;
}

.ui-square,
.ui-rect,
.ui-rect-30,
.ui-rect-60,
.ui-rect-67,
.ui-rect-75 {
    position: relative !important;
    display: block !important;
    padding-top: 100% !important;
    width: 100% !important;
}
/* FIM TESTE CHRIS*/
