@import url(http://fonts.googleapis.com/css?family=Tauri|Alef:400,700);
/*
EX:
h1 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; };

font-family: 'Tauri', sans-serif;
font-family: 'Alef', sans-serif;
*/

.hr-divider{
	#margin-bottom: 50px;
	display: block;
	clear: both;
}

.hr-divider img{
	width:100%;
	height: auto;

}

#table{display:block; width:auto; overflow-x: auto; white-space: nowrap;}

/* Table Base */
  table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial;
  }

  .table {
    border-bottom: #999999 solid 1px;
    width: 100%;
    margin-bottom: 20px;
  }

  .table th,
  .table td {
    border-right: #999999 solid 1px;
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
  }

  .table td:last-child {
     border-right: 0;
  }

  .table thead th {
    font-weight: normal;
    background-color: #005dab;
    color: #fff;
    font-size: 15px;
  }

  .table tbody > tr:nth-child(odd) > td,
  .table tbody > tr:nth-child(odd) > th {
    background-color: #f8f8f8;
  }


/* Small Sizes */
@media (max-width: 767px) { 
  
  /* Responsive Table */
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }

  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
  .table-responsive td,
  .table-responsive th {
    height: 35px;
  }

  .table-responsive thead {
    float: left;
  }

  .table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .table-responsive tbody tr {
    display: inline-block;
  }

  
  .table td:last-child {
     border-right: #999999 solid 1px;
  }
}

body{
	#background-image: url('imagens/bg2.png');
	font-size: 87.5%;
	font-family: 'Tauri', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	#width: 1082px;
	#background-color: #889375;
}

/*.SOmobiles {visibility:hidden;}*/

a{
	text-decoration: none;
}

a:link, a:visited{
	color: #000;
}

a:hover{
	cursor: pointer;
}

a:hover, a:active{
	background-color: #000;
	color:#eee;
}

button{
	cursor: pointer;
}

.body{
	margin: 0 auto;
	width: 1082px;
	clear:both;
	#background-color: grey;
}

.headerPrincipal img {
	float:left;
	width: 11%;
	height: auto;
	margin: 2% 5% 2% 0;
}

.headerPrincipal nav{
	float:left;
	#background-color: #fff;
	width: 83%;
	margin: 2% auto;
}

.headerPrincipal nav ul{
	list-style: none;
	margin: 9% auto 0 auto;
}

.headerPrincipal nav ul li{
	float: left;
	display: inline-block;
	#border: #ddd solid 1px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.headerPrincipal nav a:link, .headerPrincipal nav a:visited{
	color: #000;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
	font-weight: bold;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.headerPrincipal nav a:hover, .headerPrincipal nav a:active, .headerPrincipal nav .active a:link, .headerPrincipal nav .active a:visited {
	background-color: yellow;
	text-shadow: none;
}

.headerPrincipal nav ul li a{
	#background-color: #eee;
}

/*
----------------------------------------
*		CAMPO DE BUSCA				   *	
----------------------------------------
*/
#divBusca{
		float: left;
		margin: 3% 3% 3% 3% ;
		background-color:#E0EEEE;
		border:solid 2px #000;
		border-radius:10px;
		width:300px;
		height:32px;
	}

	#txtBusca{
		float:left;
		background-color:transparent;
		padding-left:5px;	
		font-size:18px;
		border:none;
		height:31px;
		width:223px;
	}

	#btnBusca{
		border:none;
		float:right;
		height:32px;
		border-radius:0 7px 7px 0;
		width:70px;
		font-weight:bold;
		background:#000;
		color:yellow;
	}
/*
----------------------------------------
*		CAMPO DE BUSCA - FIM		   *	
----------------------------------------
*/

.busca{
	width:100%;
	height: 100px;
	background-color:yellow;
	float: left;
	margin-bottom: 1%;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.textoExplica{
	float:left;
	#margin: 3% 0;
	font-family: 'Tauri', sans-serif;
	font-weight: 700;
	font-size: 130%;
}

.conteudoPrincipal{
	clear:both;
	line-height:25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.conteudo{
	width: 60%;
	float: left;
	margin-top:2%;	
	background-color: yellow;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.conteudo-especial{
	width: 100%;
	float: left;
	margin-top:2%;
	background-color: yellow;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.cycle-slideshow {
	float: left;
	width: 100%; 
	height: auto; /* arte 1082 x 308px */
	position: relative;
	box-shadow: 3px 3px 3px #6b6b6b;
	overflow:hidden;
	margin-top: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	#background-color: yellow;
}

.cycle-slideshow img { width: 100%; height: auto; /* arte 1082 x 308px */}

/* links */
.cycle-slideshow > a { 
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; background-color: #fff; display: block;
}

/* imagens */
.cycle-slideshow > a > img { 
    width: 100%;
    position: static;
    display: block;
}


#atividades{
	float: left;
	width: 20%;
	height: auto;
	padding:2%;
	margin: 0 0 0 1%;
	#background-color: #eee;
}

#atividades ul{
	color: #000;
}

.atividade{
	color: #000;
	margin-bottom: 3px;
	font-weight: bold;
}

.conteudoPrincipal content ul{
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.email{
	width: 33%;
	height: 120px;
	float: left;
	background-color: yellow;
	margin-left: 3%;
	padding: 2% 2%;
	margin-top: 2%;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.campoEmail{
		float: left;
		#margin: 3% 3% 3% 3% ;
		background-color:#E0EEEE;
		border:solid 2px #000;
		border-radius:10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		width:100%;
		height:32px;
	}

	.campoEmail .i{
		font-size: 70%;
		#margin-bottom: 1%;
	}

	#cadEmail{
		float:left;
		background-color:transparent;
		padding-left:5px;	
		font-size:18px;
		border:none;
		height:32px;
		width:100%;
	}

	.botao{
		border:2px solid #000;
		float:left;
		height:32px;
		border-radius:7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		width:80%;
		font-weight:bold;
		background:#000;
		color:yellow;
		margin: 2% 10%;
	}

	.botao:hover{
		border:2px solid #000;
		float:left;
		height:32px;
		border-radius:7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		width:80%;
		font-weight:bold;
		background:yellow;
		color:#000;
		margin: 2% 10%;
		cursor: pointer;
	}

.publicidade{
	width: 37%;
	height: 330px;
	float: right;
	#background-color: grey;
	margin-left: 3%;
	margin-top: 2%;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow: hidden;
	#box-shadow: 1px 1px 1px #6b6b6b;
}

.publicidade img{ width: 100%; height: auto }

/*===============================================================
============================ Rodape =============================
===============================================================*/

.footerPrincipal{
	width: 100%;
	float:left;
	margin:2% 0;
	background-color: yellow;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.footerPrincipal .footerColUm{
	width: 18%;
	padding: 0 1%;
	margin-top: 1%;
	float: left;
}


.footerPrincipal .institucional{
	padding: 0 2%;
	margin-top: 0;
}

.footerPrincipal ul{
	float: left;
	list-style: none;
}

.footerPrincipal .titulo{
	font-weight: bold;
}

.footerPrincipal .formContatoRapido{
	float: left;
	padding: 1%;
	#margin-left: 5%;
	width: 30%;
}

.footerPrincipal .formContatoRapido fieldset{
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 2px solid #000;
	font-weight: bolder;
}

.footerPrincipal .formContatoRapido input{
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 2px solid #000;
	font-size: 80%;
	display: block;
	float: left;
	font-weight: bold;
}

.footerPrincipal .formContatoRapido label{
	text-align: right;
	width: 20%;
	padding-right: 20px;
	padding-bottom: 10px;
	display: block;
	float: left;
	font-weight: bold;
	font-size: 80%;
}

.footerPrincipal .formContatoRapido br {
	clear: left;
}

.footerPrincipal .formContatoRapido #button{
	background-color: #000;
	border: 2px solid #000;
	color: yellow;
	font-weight: bold;
	padding: 0,5%;
}

.footerPrincipal .formContatoRapido #button:hover{
	background-color: yellow;
	border: 2px solid #000;
	color: #000;
	font-weight: bold;
	padding: 0,5%;
	cursor: pointer;
}
/*===============================================================
========================= Rodape - Fim ==========================
===============================================================*/
/*===============================================================
===================== Página de Resultados ======================
===============================================================*/
.resultadoTermo{
	padding: 1% 1% 0 1%;
}

.resultados{
	width: 96%;
	height: auto;
	margin: 1%;
	padding: 1%;
	float: left;
	background-color: #fff;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.resultadosTXT{
	float: left;
	width: 70%;
}

.resultados .headerResultados h1{
	color: #000;
	line-height: 0px;
	font-size: 150%;
	float: left;
	margin-bottom: 0;
	width: 100%;
}

.resultados .headerResultados p{
	color: #696969;
	line-height: 12px;
	font-size: 70%;
	float: left;
	margin-bottom: 0;
}

.resultados .conteudoResultados p{
	color: #000;
	line-height: 20px;
	font-size: 100%;
	float: left;
	width: 100%;
	#margin-bottom: 0;
}

.resultados .rodapeResultados{
	float: left;
}

.resultados .rodapeResultados a{
	color: blue;
	font-size: 80%;
	float: left;
}

.resultados .rodapeResultados a:hover{
	color: yellow;
	font-size: 80%;
	float: left;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 1px;
}

.resultados .imagemResultados{
	width: 30%;
	height: 100%;
	#padding-top: 2%;
	float: left;
}

.resultados .imagemResultados img{
	float: right;
	width: auto;
	height: auto;
}

.resultadosNegrito .imagemResultadosN{
	width: 20%;
	float: right;
}

.resultadosNegrito .imagemResultadosN img{
	float: right;
	width: 80%;
	height: auto;
}

.resultadosNegrito{
	width: 96%;
	height: auto;
	margin: 1%;
	padding: 1% 1% 0 1%;
	float: left;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	#border: 1px solid black;
	background-color: #fff;
}

.resultadosNegrito .TXTNegrito h1{
	#width: 66%;
	color: #000;
	line-height: 0px;
	font-size: 120%;
}

.resultadosNegrito .resultDescr{
	color: #000;
	line-height: 6px;
	font-size: 90%;
}

.resultadosNegrito .TXTNegrito{
	#width: 66%;
	color: #000;
	line-height: 18px;
	font-size: 90%;
	float: left;
	margin-right: 5%;
}

.resultadosNegrito .TXTNegrito p{
	margin: 5% 0;
}

.resultadosLista{
	width: 98%;
	height: auto;
	margin-bottom: 1%;
	padding: 1% 1% 0 1%;
	float: left;
}

.resultadosLista ul li{
	font-size: 80%;
	line-height: 140%;
}

.resultadosLista .linha-um{
	background-color: #ddd;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 3px;
}

.resultadosLista .linha-dois{
	background-color: #FFF;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 3px;
}
/*===============================================================
================== Página de Resultados - Fim ===================
===============================================================*/

/*===============================================================
================== Página de Mais Informações ===================
===============================================================*/

.resultados .maisInfo{
	line-height: 18px;
	font-size: 80%;
	float: left;
	margin-bottom: 2%;
}

.resultados .redesSociais{
	width: 100%;
	height: auto;
	float: left;
}

.resultados .fb-like{
	margin-right: 10px;
}

.resultados .mapa{
	margin-top: 2%;
	float: left;
}
/*===============================================================
=============== Página de Mais Informações - Fim ================
===============================================================*/

/*===============================================================
========================= Página Sobre ==========================
===============================================================*/
.sobre{
	padding: 2%;
	line-height: 20px;
}

.sobre a{
	font-weight: bold;
}

/*===============================================================
====================== Página Sobre - Fim =======================
===============================================================*/

/*===============================================================
======================== Página Contato =========================
===============================================================*/

.contato{
	padding: 0 1% 1% 1%;
}

.contato .h3{
	font-size: 180%;
	line-height: 10%;
}

.formContato input, textarea{
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 2px solid #ccc;
}

.formContato label{
	font-weight: bold;
}

.formContato #button{
	background-color: #000;
	border: 2px solid #000;
	color: yellow;
	font-weight: bold;
	padding: 1%;
}

.formContato #button:hover{
	background-color: yellow;
	border: 2px solid #000;
	color: #000;
	font-weight: bold;
	padding: 1%;
	cursor: pointer;
}

.formContato textarea {
	width: 50%;
	height: 100px;
	background: #fff;
	
}
/*===============================================================
===================== Página Contato - Fim ======================
===============================================================*/

/*===============================================================
========================= Página Blog ===========================
===============================================================*/
.blog{
	padding: 0 1% 1% 1%;
}
/*
.destaqueUm{
	position: relative;
	float: left;
	margin: 1% 2% 1% 0;
	width: 49%; /* 314 x 216
	height: auto;
	overflow: hidden;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: none;
}

.destaqueUm img{
	position: absolute;
	width: 100%;
	padding: 0;
	margin: 0;
}

.destaqueDois{
	position: relative;
	float: left;
	margin: 1% 0 1% 0;
	width: 49%; /* 314 x 216
	overflow: hidden;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: none;
}

.destaqueDois img{
	position: absolute;
	width: 100%;
	padding: 0;
	margin: 0;
}*/

.blog h2{
	#background-color: yellow;
	position: relative;
	padding: 0 2% 0 2%;
	margin-top: 45%;
	margin-bottom: 5%;
}

.blog .pimg{
	position: relative;
	padding: 0 0 0 2%;
	margin: 0;
	color: #fff;
}

.materias{
	margin: 1% 0;
	width: 100%;
	float: left;
}

.imagem-materia{
	float: left;
	width: 50%;
	height: auto;
}

.img-mat{
	width: 100%; /*256 x 192*/
	height: auto;
	float: left;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.chamada-materia{
	width: 48%;
	margin-left: 2%;
	float: left;
	#background-color: green;
}

.blog h3{
	margin:0;
	float: left;
}

.pPost{
	font-size: 70% !important;
	#font-style: italic;
	margin: 2% 0 0 0;
	float: left;
}

.chamada-materia p{
	font-size: 100%;
	margin: 2% 0 0 0;
	float: left;
}

/*
.pMaterias{
	margin: 2% 0 0 0;
	float: left;
}
*/

.paginacao{
	float: left;
	width: 100%;
	text-align: center;
	color: yellow;
}

.paginacao a{
	color: yellow;
}

.paginacao a:hover{
	color: #fff;
	background-color: transparent;
}

.paginacao li{
	background-color: #000;
	display: inline-block;
	padding: 1% 2% 1% 2%;
	border-radius:100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	margin-bottom: 2%;
}

.blog .materias p a{
	font-weight: bold;
}

.materia-blog {
	padding: 0 1% 1% 1%;
}

.materia-blog h2{
	margin-top: 2%;
	margin-bottom: 2%;
}

.materia-blog p a{
	font-weight: bold !important;
	text-decoration:underline;
}

.materia-blog img{
	width:100% !important;
	height: auto !important;
}

.artigos-relacionados{
	width: 100%;
	float: left;
	padding: 0 1% 1% 1%;
}

.materias-realacionadas{
	width: 30%;
	float: left;
	margin-right: 3%;
}

.materias-realacionadas img{
	width: 100%;
}

/*===============================================================
====================== Página Blog - Fim ========================
===============================================================*/

/*================================================================
=================================================================*/
	/* Smaller than standard 960 (devices and browsers)
	@media only screen and (max-width: 959px) {}

	Tablet Portrait size to standard 960 (devices and browsers) 
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	 All Mobile Sizes (devices and browser) 
	@media only screen and (max-width: 767px) {}

	 Mobile Landscape Size to Tablet Portrait (devices and browsers) 
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	 Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 
	@media only screen and (max-width: 479px) {}*/

@media only screen and (min-width:150px) and (max-width: 800px){	

/*================================================================
=================================================================*/

	.body{
		width: 90%;
		font-size: 95%;
	}
	
	.headerPrincipal img {
		width: 50%;
		height: auto;
		margin: 2% 25% 2% 25%;
	}
	
	.headerPrincipal nav{
		width:100%;
		height: auto;
	}

	.headerPrincipal nav ul{
		padding-left: 0;
		margin:0;
	}

	.headerPrincipal nav ul li{
		width: 100%;
		text-align: center;
		border: #eee solid 1px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}

	.headerPrincipal nav a:link, .headerPrincipal nav a:visited{
		padding: 10px 25px;
		height: 20px;
		display: block;
	}

/*
----------------------------------------
*		CAMPO DE BUSCA				   *	
----------------------------------------
*/
#divBusca{
		float: left;
		margin: 3% 3% 1% 3% ;
		background-color:#E0EEEE;
		border:solid 2px #000;
		border-radius:10px;
		width:94%;
		height:32px;
	}

	#txtBusca{
		float:left;
		background-color:transparent;
		padding-left:5px;	
		font-size:18px;
		border:none;
		height:31px;
		width:190px;
	}

	#btnBusca{
		border:none;
		float:right;
		height:32px;
		border-radius:0 7px 7px 0;
		width:21%;
		font-weight:bold;
		background:#000;
		color:yellow;
	}
/*
----------------------------------------
*		CAMPO DE BUSCA - FIM		   *	
----------------------------------------
*/

.busca{
	width:100%;
	height: 110px;
	background-color:yellow;
	float: left;
	margin-top: 2%;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.textoExplica{
	float:left;
	margin-left: 3%;
	font-family: 'Tauri', sans-serif;
	font-weight: 400;
	font-size: 70%;
	font-variant: inherit;
}

.conteudo{
	width: 100%;
	float: left;
	margin-top: 2%; 
	background-color: yellow;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.cycle-slideshow{ display: none;}

.cycle-slideshow img{ display: none;}

#atividades{
	float: left;
	width: 45%;
	height: auto;
	padding:2%;
	margin: 0 0 1% 1%;
	font-size: 100%;
}
	
.atividade{
	color: #000;
	margin-bottom: 3px;
	font-weight: bold;
}

	#atividades ul{
		line-height: 25px;
		font-size: 100%;
		color: #000;
	}
	
	.email{
		width: 94%;
		height: 140px;
		background-color: yellow;
		padding: 2% 3%;
		margin: 2% 0 2% 0;
	}

	.publicidade{
		width: 100%;
		height: auto;
		float: left;
		margin-top: 2%;
		border-radius:10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		margin-left: 0px;
	}

	.publicidade img{ width: 100%; height: auto }
	
/*===============================================================
============================ Rodape =============================
===============================================================*/

.footerPrincipal{
	width: 98%;
	float:left;
	margin:2% 0;
	padding: 1%;
	background-color: yellow;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.footerPrincipal .footerColUm{
	width: 98%;
	padding: 0 1%;
	margin-top: 1%;
	float: left;
}


.footerPrincipal .institucional{
	padding: 0 2%;
	margin-top: 0;
}

.footerPrincipal ul{
	float: left;
	list-style: none;
}

.footerPrincipal .titulo{
	font-weight: bold;
}

.footerPrincipal .formContatoRapido{
	float: left;
	padding: 1%;
	#margin-left: 5%;
	width: 98%;
}

.footerPrincipal .formContatoRapido fieldset{
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 2px solid #000;
	font-weight: bolder;
}

.footerPrincipal .formContatoRapido input{
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 2px solid #000;
	font-size: 80%;
	display: block;
	float: left;
	font-weight: bold;
}

.footerPrincipal .formContatoRapido label{
	text-align: right;
	width: 20%;
	padding-right: 20px;
	padding-bottom: 10px;
	display: block;
	float: left;
	font-weight: bold;
	font-size: 80%;
}

.footerPrincipal .formContatoRapido br {
	clear: left;
}

.footerPrincipal .formContatoRapido #button{
	background-color: #000;
	border: 2px solid #000;
	color: yellow;
	font-weight: bold;
	padding: 0,5%;
}

.footerPrincipal .formContatoRapido #button:hover{
	background-color: yellow;
	border: 2px solid #000;
	color: #000;
	font-weight: bold;
	padding: 0,5%;
	cursor: pointer;
}
/*===============================================================
========================= Rodape - Fim ==========================
===============================================================*/


/*===============================================================
===================== Página de Resultados ======================
===============================================================*/
.resultados{
	width: 96%;
	height: auto;
	margin: 1%;
	padding: 1%;
	float: left;
	background-color: #fff;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.resultadosTXT{
	float: left;
	width: 70%
}

.resultados .headerResultados h1{
	color: #000;
	line-height: 20px;
	font-size: 100%;
	float: left;
	margin-bottom: 0;
	width: 100%;
}

.resultados .headerResultados p{
	color: #696969;
	line-height: 12px;
	font-size: 60%;
	width: 70%;
	margin-top: 0;
	float: left;
	margin-bottom: 0;
}

.resultados .conteudoResultados p{
	color: #000;
	/*
	line-height: 14px;
	font-size: 65%;
	margin-bottom: 0;
	width: 60%;
*/
	line-height: 20px;
	font-size: 100%;
	float: left;
	width: 100%;
	#margin-bottom: 0;
}

.resultados .rodapeResultados{
	float: left;
}

.resultados .rodapeResultados p{
	color: blue;
	font-size: 70%;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	float: left;
}


.resultados .imagemResultados{
	width: 30%;
	height: auto;
	#padding-top: 2%;
	float: right;
}
/*
.resultados .imagemResultados img{
	float: right;
	width: auto;
	height: auto;
}*/

.resultados .imagemResultados img{
	width: 100%;
	height: auto;
	padding-top: 2%;
	float: right;
}

.resultadosNegrito{
	width: 96%;
	height: auto;
	margin: 1%;
	padding: 1% 1% 0 1%;
	float: left;
}

.resultadosNegrito .TXTNegrito h1{
	color: #000;
	line-height: 0px;
	font-size: 120%;
}

.resultadosNegrito .resultDescr{
	color: #696969;
	line-height: 6px;
	font-size: 90%;
	margin-bottom: 1%;
}

.resultadosNegrito .TXTNegrito{
	color: #000;
	line-height: 10px;
	font-size: 60%;
}

.resultadosNegrito .TXTNegrito p{
	margin: 1% 0;
}

.resultadosLista{
	width: 96%;
	height: auto;
	margin: 1%;
	padding: 1% 1% 0 1%;
	float: left;
}

.resultadosLista ul li{
	font-size: 60%;
	line-height: 140%;
	margin-bottom: 2px;
}
/*===============================================================
================== Página de Resultados - Fim ===================
===============================================================*/
/*===============================================================
========================= Página Blog ===========================
===============================================================*/

.blog{
	padding: 0 1% 1% 1%;
}

/*
.destaqueUm{
	position: relative;
	float: left;
	margin: 2% 1% 1% 1%;
	width: 98%; /* 314 x 216
	overflow: hidden;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.destaqueUm img{
	position: absolute;
	width: 100%;
	padding: 0;
	margin: 0;
}

.destaqueDois{
	position: relative;
	float: left;
	margin: 1%;
	width: 98%; /* 314 x 216
	#background-color: cyan;
	overflow: hidden;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.destaqueDois img{
	position: absolute;
	width: 100%;
	padding: 0;
	margin: 0;
}
*/

.blog h2{
	background-color: #d3d3d3;
	position: relative;
	padding: 0 2% 0 2%;
	margin-top: 45%;
	margin-bottom: 0;
	font-size: 80%;
}


.blog .pimg{
	background-color: #000;
	position: relative;
	padding: 0 0 0 2%;
	margin: 0;
}

.materias{
	margin: 1% 0;
	width: 100%;
	float: left;
}

.imagem-materia{
	float: left;
	width: 100%;
	height: auto;
}

.img-mat{
	width: 100%; /*256 x 192*/
	height: auto;
	float: left;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.chamada-materia{
	width: 68%;
	margin-left: 2%;
	float: left;
	#background-color: green;
}

.blog h3{
	margin:0;
	float: left;
	font-size: 100%;
}

.pPost{
	font-size: 60%;
	margin: 2% 0 0 0;
}


.pMaterias{
	margin: 2% 0 0 0;
	font-size: 80% !important;
	line-height: 180%;
}


.paginacao{
	float: left;
	width: 100%;
	text-align: center;
	color: yellow;
}

.paginacao a{
	color: yellow;
}

.paginacao a:hover{
	color: #fff;
	background-color: transparent;
}

.paginacao li{
	background-color: #000;
	display: inline-block;
	border-radius:100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	margin-bottom: 2%;
}

.artigos-relacionados p{
	font-size: 80%;
	line-height: 110%;
}

/*===============================================================
====================== Página Blog - Fim ========================
===============================================================*/
}